{% extends "commun/base.html.twig" %} 

{% block title %} 
    Oxygen Project
{% endblock title %}

{% block content %}

<section class="section--header mdl-color--teal">

    <div class="mdl-layout-spacer"></div>

    <div class="mdl-typography--text-center  mdl-color-text--white">
        <h1 class="Montserrat">Oxygen</h1>
        <p class="subtitle little-margin">Breathe</p>
    </div>

    <div class="mdl-layout-spacer"></div>

</section>

<section class="section--block">

    <div class="mdl-layout-spacer"></div>

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title img-dog">
            <h2 class="mdl-card__title-text">Bonjour !</h2>
        </div>
  
        <div class="mdl-card__supporting-text">
            <p class="text">
                 Nous sommes le {{ today.day|capitalize }} {{ today.number }} {{ today.month|capitalize }} {{ today.year }} en semaine {{
                today.AorB|capitalize }}.<br>{% if today.passage_list %} Un ordre de passage est défini pour aujourd'hui, connectez-vous
                pour accéder au service.{% else %}Aucun passage n'est programmé
                pour aujourd'hui.<br><br> Bonne journée !{% endif %} 
            </p>
        </div>
        {% if today.passage_list %}

         <div class="mdl-card__actions mdl-card--border">
            <button id="show-passage" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Ordre de passage
            </button>
        </div>
    </div>
        
    <dialog class="mdl-dialog mdl-color--grey-100" id="passage-dialog">
        <h4 class="mdl-dialog__title">Passage</h4>
        <div class="mdl-dialog__content">

        <!--
	        Sur un template de Blake Bowen
	        Codepen.io/osublake/pen/jrqjdy
        -->

            <section class="container">
  
            {% for x in today.passage_list %}
                <div class="list-item mdl-shadow--2dp">
                    <div class="item-content">
                        <span class="order">{{ loop.index }} - </span>{{ today.passage_list[loop.index0] }}
                    </div>
                </div>
            {% endfor %}
  
            </section>

        </div>
            
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close"><i class="material-icons">&#xE879;</i></button>
        </div>
    </dialog>

    {% endif %}


</section>

{% endblock content %}

{% block js %}

<script type="text/javascript">
    var dialog = document.querySelector('#passage-dialog');
    var showDialogButton = document.querySelector('#show-passage');
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    showDialogButton.addEventListener('click', function () {
        dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function () {
        dialog.close();
    });
</script>

{% endblock js %}


