{% if user.is_logged == true %}

<a class="mdl-navigation__link" href={{ path_for('home') }}> Home</a>
<a class="mdl-navigation__link" href={{ path_for('interface') }}> Interface</span></a>
<a class="mdl-navigation__link" href={{ path_for('about') }}> Infos</a>
<a class="mdl-navigation__link" href={{ path_for('logout') }}> Déconnexion</a>
{% else %}

<a class="mdl-navigation__link" href={{ path_for('login') }}> Connexion</a>
{% endif %}